root = true

[*]
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = off
end_of_line = lf

[*.xml]
max_line_length = 100
indent_size = 2

[*.yml]
indent_size = 2

[VERSION]
insert_final_newline = false
